* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf

# Preserve vendored license text byte-for-byte, including upstream EOF layout.
third_party/** whitespace=-blank-at-eof
